body{
  background-color: #FFB6C1

}
header{
  background-color: black;
  border: 10px solid 	#FF1493
}
.logo{
  position: absolute;
  left: 2%;
  width: 9%
}
nav{
  position: relative;
  left: 100px;
}
nav li{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
h1{
text-align: center;
font-family: Snell Roundhand, cursive;
color: #F0F8FF;
font-size: 50px;
}
p{
font-size: 40px;
  text-align: justify;
  font-family: Snell Roundhand, cursive;
  color: #F0F8FF;
}
.temas{
  color: white;
  font-size: 80px;
  font-family:cursive;

}
li{
  font-size: 30px;
  color: white;
  font-family: cursive;
}
.pessoalendo{
  height: 500px;
  width: 500px;
  margin-left: 50%;
display: inline-block;
position: absolute;
top: 200px;
left: 400px;

}
.corpo{
  display:contents;

}
.caixa{
  display: inline-block;
}
.pessoalendo{
  border: 10px solid #FF1493
}
