body{
  background-color: #FFB6C1
}

h1{
text-align: center;
font-family: Snell Roundhand, cursive;
color: #F0F8FF;
font-size: 50px;
background-color: black;
}
p{
font-size: 40px;
  text-align: justify;
  font-family: Snell Roundhand, cursive;
  color: #F0F8FF;
}
.temas{
  color: white;
  font-size: 80px;
  font-family:cursive;

}
li{
  font-size: 30px;
  color: white;
  font-family: cursive;
}
.pessoalendo{
  height: 500px;
  width: 500px;
  margin-left: 50%;
  display: inline-block;

}
.corpo{
  display: inline-block;
position: absolute;
}
